In [ ]:
import pandas as pd

Part A: Data Setup

In [ ]:
#TODO: Load the dataset
data = pd.read_csv("abalone.csv")

In [ ]:

#TODO: print number of rows
print(f"Number of rows: {len(data)}")
#TODO: print column names
print(f"Column Names: {data.columns}")

Number of rows: 4177
Column Names: Index(['Unnamed: 0', 'Sex', 'Length', 'Diameter', 'Height', 'Whole_weight',
       'Shucked_weight', 'Viscera_weight', 'Shell_weight', 'Rings'],
      dtype='object')

In [ ]:
#TODO: print first 5 rows
print(data.head(n=5))

   Unnamed: 0 Sex  Length  Diameter  Height  Whole_weight  Shucked_weight  \
0           0   M   0.455     0.365   0.095        0.5140          0.2245
1           1   M   0.350     0.265   0.090        0.2255          0.0995
2           2   F   0.530     0.420   0.135        0.6770          0.2565
3           3   M   0.440     0.365   0.125        0.5160          0.2155
4           4   I   0.330     0.255   0.080        0.2050          0.0895

   Viscera_weight  Shell_weight  Rings
0          0.1010         0.150     15
1          0.0485         0.070      7
2          0.1415         0.210      9
3          0.1140         0.155     10
4          0.0395         0.055      7

In [ ]:
#Checkpoint
#what is input:
#Input is length,diameter,shell_weight

#what is output:
#Output is Rings
#We can predict Rings, and do +1.5 to get the age
#Target is y=Rings+1.5

#why output is numeric:
#we need to predict age which is numeric

In [ ]:
#TODO: create target y=Rings+1.5
y=data["Rings"]+1.5
y

0       16.5
1        8.5
2       10.5
3       11.5
4        8.5
        ...
4172    12.5
4173    11.5
4174    10.5
4175    11.5
4176    13.5
Name: Rings, Length: 4177, dtype: float64

In [ ]:
#TODO: select exaclty 3 numeric features
#(3X and 1y)
X= data[["Length","Diameter","Shell_weight","Rings"]]

#Justification:
#Feature 1: Length, because rings are directly proportional to length, and rings+1.5=age
#Feature 2: Diameter, because rings are directly proportional to diameter, and rings+1.5=age
#Feature 3: Shell Weight, because as the age increases, the calcuim deposits increase due to which shell weight increases

In [21]:
X

      Length  Diameter  Shell_weight  Rings
0      0.455     0.365        0.1500     15
1      0.350     0.265        0.0700      7
2      0.530     0.420        0.2100      9
3      0.440     0.365        0.1550     10
4      0.330     0.255        0.0550      7
...      ...       ...           ...    ...
4172   0.565     0.450        0.2490     11
4173   0.590     0.440        0.2605     10
4174   0.600     0.475        0.3080      9
4175   0.625     0.485        0.2960     10
4176   0.710     0.555        0.4950     12

[4177 rows x 4 columns]

Train-test split

In [ ]:
#TODO: split data into train and test(80/20)
X_train=X.sample(frac=0.8, replace=False, random_state=42)
X_test= X.drop(X_train.index)

In [ ]:
y_train=X_train["Rings"]
y_test=X_test["Rings"]

In [61]:
X_train.drop(labels=["Rings"], axis=1, inplace=True)

In [ ]:
X_test.drop(labels=["Rings"], axis=1, inplace=True)

In [ ]:
#TODO: print shapes
print(X_train.shape)
print(X_test.shape)

(3342, 3)
(835, 3)

In [ ]:
#Normalize inputs using training mean and std- Z-score Normalization

In [ ]:
#TODO: compute mean and std from training data
import numpy as np
means=np.mean(X_train, axis=0)
std=np.std(X_train, axis=0)

In [65]:
std

Length          0.120988
Diameter        0.099807
Shell_weight    0.140431
dtype: float64

Normalize the training and testing data using formula X-mean/std

In [ ]:
#TODO: normalize train and test using training stats
X_train_normalized= (X_train-means)/std
X_test_normalized= (X_test-means)/std

In [67]:
X_train_normalized

        Length  Diameter  Shell_weight
866   0.689108  0.492001      0.626417
1483  0.565128  0.341711      0.056742
599   0.317170  0.391808      0.697626
1702  0.937066  0.842676      1.018068
670  -0.385379 -0.209350     -0.156887
...        ...       ...           ...
3006  1.474310  1.393738      0.936178
2549 -1.997110 -1.962727     -1.467139
1946  0.937066  1.193352      0.697626
739  -0.633338 -0.610122     -0.797771
40   -0.592012 -0.710315     -0.868980

[3342 rows x 3 columns]

In [68]:
X_test_normalized

        Length  Diameter  Shell_weight
1    -1.418540 -1.411666     -1.189423
4    -1.583846 -1.511859     -1.296237
11   -0.757317 -0.560025     -0.726562
16   -1.377214 -1.261376     -0.868980
19   -0.592012 -0.860604     -0.868980
...        ...       ...           ...
4162 -1.129255 -1.511859     -1.032762
4164 -1.087929 -1.161183     -1.111092
4170  0.234517  0.241518      0.024697
4171  0.317170  0.241518     -0.057193
4172  0.358496  0.441904      0.085225

[835 rows x 3 columns]

In [ ]:
#Checkpoint: why normalization is needed for learning:
#Because different features have different ranges, so we need to standardise the ranges, so that we can find trends and patterns

Part B: Define the model

In [94]:
def forward(X,w,b):
    # print(X.shape)
    # print(w.shape)
    y_hat=np.dot(X,w)+b
    # print(y_hat.shape)
    return y_hat

#Checkpoint:
#parameters are: length, diameter, shell weight
#number of parameters: 3

Part C: Define Loss (MSE)

In [95]:
def mse(y,y_hat):
    #y is a list, and y_hat is a list
    return np.sum((y-y_hat)**2)/len(y)

# Checkpoint:

# why square:
# because square will consider only the magnitude of error, and assign higher penalty to big error and smaller penalty to smaller error

# what mistakes are expensive:
# mistakes with a larger error are expensive

Part D: The Learning Rule

In [96]:
#update the weights based on gradients
#what gradient means in words:
#gradient is the slope, which means how much and in what direction is the loss affected when the weight is changed

#why subtracting gradient reduces loss:
#if gradient is positive, means the loss is increasing with the increase in weight, so we need to subtract the gradient to reduce the loss
#if gradient is negative, means that loss is decreasing with increase in weight, so we need to add the gradient

In [97]:
def grad_w(X,y,y_hat):
    #TODO: return dW
    n=len(y)
    return -2 * np.dot(X.T, (y-y_hat))/n
    
def grad_b(X,y,y_hat):
    #TODO: return db
    n=len(y)
    return -2 * np.sum(y-y_hat)/n

In [98]:
#Checkpoint
#meaning of large gradient:
#large gradient means that the slope is very large, a large effect in loss will take place after updating the weight

#effect of too-large learning rate:
#If the learning rate is very large, then the weight might overshoot the decision space and go on the other side, which will have an opposite effect to loss.

Part E: Training loop

In [103]:
#initialize w (small random values)
w= np.random.uniform(low=-1,high=1,size=3)

#initialize b (zero)
b=0

#choose learning rate and epochs
lr=0.01
epochs=1000

In [104]:
for epoch in range(epochs):
    #1. forward pass
    y_hat = forward(X_train_normalized,w,b)
    
    #2. compute loss
    loss= mse(y_train,y_hat)
    
    #3. compute gradients
    w_grad= grad_w(X_train_normalized,y_train,y_hat)
    b_grad= grad_b(X_train_normalized,y_train,y_hat)
    
    #4. update w and b 
    w= w-(lr*w_grad)
    b= b-(lr*b_grad)
    
    if epoch%10==0:
        print(epoch,loss)

0 105.7454731569402
10 72.56752646795248
20 50.55437865090485
30 35.89895906791722
40 26.126089538916133
50 19.603811156923054
60 15.248930569851334
70 12.340243604961893
80 10.3968651128936
90 9.09793333620561
100 8.229291422071562
110 7.6479802351580695
120 7.258560811211103
130 6.997315461232488
140 6.821702893687724
150 6.703319162855498
160 6.623198580429823
170 6.568676634624628
180 6.53129566560704
190 6.505406677500252
200 6.487235892073274
210 6.474261566499661
220 6.464797945747853
230 6.457717499881176
240 6.452265481729378
250 6.447936118655382
260 6.444389952009258
270 6.441398647368926
280 6.43880814474731
290 6.436514052945
300 6.434445218417785
310 6.4325527517296965
320 6.4308026977369686
330 6.429171138548797
340 6.427640920812406
350 6.426199467583799
360 6.424837314441509
370 6.423547129267326
380 6.422323055075528
390 6.421160268652874
400 6.42005468340945
410 6.419002748632814
420 6.418001313222316
430 6.417047532585296
440 6.416138804457099
450 6.415272724133869
460 6.414447052763309
470 6.41365969444585
480 6.412908679305793
490 6.412192150631685
500 6.4115083548126774
510 6.4108556332168085
520 6.410232415437212
530 6.409637213519376
540 6.409068616907747
550 6.4085252879336485
560 6.408005957722606
570 6.4075094224366556
580 6.4070345397925506
590 6.406580225813708
600 6.406145451785257
610 6.405729241389304
620 6.405330668002918
630 6.404948852144924
640 6.404582959060227
650 6.404232196432186
660 6.4038958122148255
670 6.403573092577681
680 6.403263359956832
690 6.402965971206172
700 6.402680315843516
710 6.402405814386481
720 6.402141916773419
730 6.401888100864978
740 6.401643871022113
750 6.401408756756615
760 6.401182311450422
770 6.40096411114022
780 6.400753753363952
790 6.400550856066099
800 6.400355056558753
810 6.4001660105355755
820 6.39998339113602
830 6.399806888057195
840 6.399636206710968
850 6.399471067424019
860 6.3993112046786145
870 6.399156366392065
880 6.3990063132328805
890 6.398860817971751
900 6.398719664865588
910 6.398582649072932
920 6.398449576099141
930 6.398320261269834
940 6.398194529231144
950 6.398072213475436
960 6.397953155891176
970 6.397837206335719
980 6.397724222229866
990 6.397614068173059

In [ ]:
#Initial expectation: loss would decrease fast 
#Revised expectation after training: loss first decreases fast and then decreases slowly

PART F: Evaluation

In [ ]:
#compute train mse and mae
mse= np.sum((y_train-y_hat)**2)/len(y)
mae= np.sum(np.abs(y_train-y_hat))/len(y)

In [108]:
# Compute test MSE
y_test_pred = forward(X_test_normalized, w, b)
test_mse = np.sum((y_test - y_test_pred)**2) / len(y_test)
print(f"Test MSE: {test_mse}")

Test MSE: 5.636728463407473

In [109]:
# Compute test MAE
test_mae = np.sum(np.abs(y_test - y_test_pred)) / len(y_test)
print(f"Test MAE: {test_mae}")

Test MAE: 1.7724526485551948

In [110]:
# Print 5 example predictions: true age, predicted age, absolute error
# Remember: Age = Rings + 1.5
true_ages = y_test + 1.5
predicted_ages = y_test_pred + 1.5
absolute_errors = np.abs(true_ages - predicted_ages)

print("True Age | Predicted Age | Absolute Error")
print("-" * 45)
for i in range(5):
    print(f"{true_ages.iloc[i]:8.2f} | {predicted_ages[i]:13.2f} | {absolute_errors.iloc[i]:14.2f}")

True Age | Predicted Age | Absolute Error
---------------------------------------------
    8.50 |          8.92 |           0.42
    8.50 |          8.76 |           0.26
   11.50 |         10.12 |           1.38
    8.50 |          9.67 |           1.17
   10.50 |          9.36 |           1.14